header{
    height: 80px;
    width: 100%;
    background-color: rgb(35, 102, 247);
}
.header{
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
header h3{
    color:white;
    margin-left: 20px;
}